/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #87CEEB; /* Biru muda untuk menu */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo {
    flex: 1; /* Membuat logo memiliki ruang fleksibel */
}

nav .logo img {
    width: 100px;
}

nav .menu {
    list-style-type: none;
    display: flex;
    flex: 8.5; /* Menjaga menu tetap fleksibel di sebelah logo */
    justify-content: flex-start; /* Memindahkan menu ke kanan */
}

nav .menu h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

nav .menu li {
    margin-left: 20px;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-color: #ffffff; /* Latar belakang putih untuk .hero */
    color: black;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #f6a500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px; /* Memberi jarak antara teks dan tombol */
}

.cta-button:hover {
    background-color: #d87f00;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #fff;
    margin-top: 20px;
}

.feature {
    text-align: center;
    width: 30%;
}

.feature img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.feature h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-media {
    list-style-type: none;
    padding: 10px 0;
}

footer .social-media li {
    display: inline;
    margin: 0 10px;
}

footer .social-media li a {
    color: white;
    text-decoration: none;
}
